extends layout

block content
  .content
    .container-fluid
        .jumbotron
            h1 Config Management

    .container
        .row
            .col-md-4
                 
                // CREATE CONFIG
                h2 Create New Config
                #createConfig
                    fieldset
                        input#inputUserName(type='text', placeholder='Admin Username')
                        br
                        input#inputUserPassword(type='password', placeholder='Admin Password')
                        br
                        input#inputUserSiteId(type='text', placeholder='Site Id')
                        br
                        button#btnCreateConfig Create Config
                
                #createConfigError
                // /CREATE CONFIG
                
            .col-md-4
            
                // MODIFY CONFIG
                h2 Modify Config
           
                #modifyConfig
                    fieldset
                        input#inputConfigHost(type='text', placeholder='host')
                        br
                        input#inputConfigPort( type='text', placeholder='port')
                        br
                        input#inputConfigUsername(type='text', placeholder='username')
                        br
                        input#inputConfigPassword(type='password', placeholder='password')
                        br
                        // input#inputConfigApiPort(type='text', placeholder='api port')
                        // br
                        input#inputConfigXpbmLocation(type='text', placeholder='xpbm location')
                        br
                        input#inputConfigSiteId(type='text', placeholder='Site Id')
                        br
                        input#inputConfigSiteInterval(type='text', placeholder='Site Interval')
                        br
                        button#btnModifyConfig Modify Config
                       // br
                       // input#inputConfigSiteClientId(type='text', placeholder='Site Client Id')
                       // br
                       // input#inputConfigSiteExternalId(type='text', placeholder='Site External Id')
                       // br
                       // input#inputConfigTransferSource(type='text', placeholder='Transfer Source')
                       // br
                       // input#inputConfigTransferMatcher(type='text', placeholder='Transfer Matcher')
                       
                #modifyConfigError
                // /MODIFY CONFIG

    // CONFIG ITEM
    .container
        .row
            .col-md-4
                h2 Current Configuration
                #currentConfig.jsontext
                    table.table
                        tbody
                #loadConfigError
    // /CONFIG ITEM
 