extends layout

block content
    .container-fluid
        .jumbotron
            h1 Config Management

    .container
        .row
            .col-md-6
                 
                
                 
                // CREATE CONFIG
                h2 Create New Config
                #createConfig
                    fieldset
                        input#inputUserName(type='text', placeholder='Admin Username')
                        br
                        input#inputUserPassword(type='password', placeholder='Admin Password')
                        br
                        input#inputUserSiteId(type='text', placeholder='Site Id')
                        br
                        button#btnCreateConfig Create Config
                
                #error
                 
                
                // /CREATE CONFIG
                
            .col-md-6
            
                // MODIFY CONFIG
                h2 Modify Config
           
                #modifyConfig
                    fieldset
                        input#inputConfigHost(type='text', placeholder='host')
                        br
                        input#inputConfigPort( type='text', placeholder='port')
                        br
                        input#inputConfigUsername(type='text', placeholder='username')
                        br
                        input#inputConfigPassword(type='password', placeholder='password')
                        br
                        input#inputConfigXpbmLocation(type='text', placeholder='xpbm location')
                        br
                        input#inputConfigSiteId(type='text', placeholder='Site Id')
                        br
                        input#inputConfigSiteInterval(type='text', placeholder='Site Interval')
                        br
                        button#btnModifyConfig Modify Config
                // /MODIFY CONFIG

    // CONFIG ITEM
    br
    h2 Current Configuration
    #currentConfig.jsontext
     table.table
      tbody
    // /CONFIG ITEM
 