doctypehtml
html
 head
  title="Config Management"
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  link(rel="stylesheet" href="stylesheets/site/style.css")  
  script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js")
  script(src="/javascripts/bootstrap.min.js")
  script(src="/javascripts/eventHandling/configController.js")
  script(src="/javascripts/spin.min.js")

body
    header(role='banner')
      .row
        .large-4.columns
          .logo
            img(width="260" hight="auto" src='images/xsite_group_colour.png', alt='XSite Group')
        // /medium-4
        
    .container
      .row
        .board
          .board-inner
            ul#myTab.nav.nav-tabs
              .liner
              li.active
                a(href='#configure', data-toggle='tab', title='config editer') Config Setup
              li
                a(href='#service', data-toggle='tab', title='service') Service Management
              li
                a(href='#export', data-toggle='tab', title='export data') Export Data
              li
                a(href='#settings', data-toggle='tab', title='blah blah')
                  span.round-tabs.four
                    i.glyphicon.glyphicon-comment
              li
                a(href='#doner', data-toggle='tab', title='completed')
                  span.round-tabs.five
                    i.glyphicon.glyphicon-ok
        
    block content
