@import "../images/181/1140.css";
@import "../bootstrap.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700";

body {
    background: #fff none repeat scroll 0 0;
    color: #555;
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.5;
}

h2 {
	margin:0 0 .5em 0;
}

a {
  color: #00B7FF;
}

h1, h2, h3, h4, h5, h6 {
    color: #222;
    font-weight: bold;
    line-height: 1.2;
    margin: 1em 0;
}
h1 {
    font-size: 32px;
    font-weight: normal;
    margin: 0 0 0.5em;
}
h2 {
    font-size: 24px;
    margin: 1em 0 0.5em;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 16px;
    font-weight: bold;
}
h5 {
    font-size: 14px;
    font-weight: bold;
}
h6 {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
}
p {
    margin: 0 0 1em;
}
ul, ol {
    margin: 1.2em 0 1.2em 2em;
}
ul {
    list-style: outside none square;
}
ol {
    list-style: outside none decimal;
}
li {
    margin: 0 0 0.5em;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 1.2em 0;
}
hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #ccc -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-style: solid none none;
    border-width: 1px 0 0;
    margin: 1.2em 0;
}
blockquote::before, blockquote::after {
    content: none;
}
.content blockquote {
    border-left: 3px double #d6d6d6;
    font-style: italic;
    margin: 0 0 1em 2em;
    padding: 0 1em;
}
img.alignright, img.alignleft, img.aligncenter, img.alignnone {
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-shadow: 0 0 5px #ccc;
    box-sizing: border-box;
    padding: 5px;
}
img.alignright {
    float: right;
    margin: 0 0 1em 1em;
}
img.alignleft {
    float: left;
    margin: 0 1em 1em 0;
}
img.aligncenter {
    display: block;
    margin: 0 auto;
}
img.alignnone {
    margin: 1em 0;
}
a img.alignright:hover {
    background: #c07c45 none repeat scroll 0 0;
}
a img.alignleft:hover {
    background: #c07c45 none repeat scroll 0 0;
}
a img.aligncenter:hover {
    background: #c07c45 none repeat scroll 0 0;
}
.group::before, .group::after {
    content: "";
    display: table;
}
.group::after {
    clear: both;
}
.group {
}
:focus {
    outline: 0 none;
}
*::-moz-selection {
    background: #000 none repeat scroll 0 0;
    color: #fff;
    text-shadow: none;
}
header[role="banner"] {
	padding-top: 24px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
	width: 100%;
    background: url(/images/348/groovepaper.png);
	top: 0;
	z-index: 999;
	-moz-transition: all 0.2s ease-out;
	-webkit-transition: all 0.2s ease-out;
	transition: all 0.2s ease-out;
}

header.banner, header .tagline {
    float: left;
}
header .tagline {
    font-size: 26px;
    line-height: 1.2;
    padding: 0.85em 0 0 1em;
}
header .phone {
    background: rgba(0, 0, 0, 0) url("/images/181/phone-icon.png") no-repeat scroll 0 7px;
    display: inline-block;
    float: right;
    font-size: 28px;
    margin: 0 0 10px;
    padding-left: 32px;
}
header form {
    clear: right;
    float: right;
}
header form input[type="text"] {
    background: #fff url("/images/181/magnify-icon.png") no-repeat scroll 95% 7px;
    height: 32px;
    line-height: 32px;
    margin: 0;
}
nav {
    background: rgba(0, 0, 0, 0) url("/images/181/nav-bg.png") repeat-x scroll 0 0;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}
nav.internal {
    background: rgba(0, 0, 0, 0) url("/images/181/nav-bg-internal.png") repeat-x scroll 0 0;
}
nav ul {
    list-style: outside none none;
    margin: 0 auto;
    max-width: 1140px;
    padding: 0;
    z-index: 400;
}
nav ul li {
    margin: 0;
    padding: 0;
}
nav > ul, nav ul > li > ul {
    list-style: outside none none;
    position: relative;
}
nav > ul > li {
    float: left;
    height: 41px;
    margin: 0 1px 0 0;
}
nav > ul > li > a {
    color: #fff;
    display: block;
    font-size: 18px;
    height: 41px;
    line-height: 41px;
    padding: 0 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px #294254;
}
nav > ul > li:hover > a, nav > ul > li.active > a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #858585 0%, #3d3d3d 100%) repeat scroll 0 0;
    color: #fff;
    margin: 0;
    text-shadow: 0 1px 1px #000;
}
nav.internal > ul > li:hover > a, nav.internal > ul > li.active > a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #3c3c3c 0%, #868686 22%, #3c3c3c 100%) repeat scroll 0 0;
}
nav > ul > li.tw, nav > ul > li.fb {
    float: right;
    margin-left: 10px;
    margin-right: 0;
}
nav > ul > li.tw > a, nav > ul > li.fb > a {
    display: block;
    padding: 0;
    text-indent: -9999px;
}
nav > ul > li.tw > a {
    background: rgba(0, 0, 0, 0) url("/images/181/icon-twitter.png") no-repeat scroll 0 6px;
    width: 32px;
}
nav > ul > li.fb > a {
    background: rgba(0, 0, 0, 0) url("/images/181/icon-facebook.png") no-repeat scroll 0 6px;
    width: 22px;
}
nav > ul > li.tw > a:hover, nav > ul > li.fb > a:hover {
    opacity: 0.5;
}
nav > ul > li > ul {
    display: none;
    font-size: 13px;
    margin: 0;
    min-width: 220px;
    padding: 0;
    position: absolute;
}
nav > ul > li:hover > ul {
    display: block;
}
nav > ul > li ul li {
    background: rgba(0, 0, 0, 0) url("/images/181/nav-bg.png") repeat-x scroll 0 0;
}
nav > ul > li ul li a {
    border-bottom: 1px solid #375366;
    color: #fff;
    display: block;
    line-height: 24px;
    padding: 5px 0 5px 20px;
    text-decoration: none;
}
nav > ul > li ul li a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #858585 0%, #3d3d3d 100%) repeat scroll 0 0;
    color: #fff;
    text-decoration: none;
}
div.feature {
    background: #000 none repeat scroll 0 0;
}
div.feature .row {
    overflow: visible;
}
.flexslider {
    margin: 0;
}
.flexslider .slides li {
    position: relative;
}
.feature div.text {
    background: rgba(0, 0, 0, 0) url("/images/181/div-text-bg.png") repeat scroll 0 0;
    border: 1px solid #284d68;
    border-radius: 7px;
    box-shadow: 0 0 5px #000;
    box-sizing: border-box;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
    padding: 1.5em 2em 1em;
    position: absolute;
    right: 0;
    top: 15px;
    width: 33%;
}
.feature div.text a {
    font-size: 14px;
    font-weight: normal;
    margin-right: 1em;
}
.feature div.text h1, .feature div.text h2 {
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 0.5em;
}
.content {
    padding: 2em 0;
    background: url(/images/348/groovepaper.png);
}
.content .row {
    overflow: visible;
}
.primary, .secondary {
    padding: 2em 0;
}
.primary h2 {
    color: #648eaa;
    text-transform: uppercase;
}
.secondary h2, .secondary h3, .secondary h4, .secondary h5, .secondary h6 {
    margin-top: 0;
}
.secondary {
    background: rgba(0, 0, 0, 0) url("/images/181/sidebar-bg.png") no-repeat scroll 0 0;
    box-sizing: border-box;
    font-size: 13px;
    min-height: 628px;
    padding-left: 40px;
}
.jumbotron {
    background-color: inherit;
}

div.sidenav {
    font-size: 14px;
    margin: 0;
}
div.sidenav h5 {
    font-size: 18px;
}
div.sidenav ul {
    list-style: outside none none;
    margin: 1.2em 0 2.2em -40px;
}
div.sidenav ul li {
    margin: 0;
}
div.sidenav ul li a {
    color: #222;
    display: block;
    height: 42px;
    line-height: 42px;
    padding: 0 0 0 40px;
}
div.sidenav ul li.active a, div.sidenav ul li:hover a {
    background: rgba(0, 0, 0, 0) url("/images/181/sidenav-active.png") no-repeat scroll 0 0;
    color: #fff;
}
.btn, .text a {
    background: whiteSmoke none repeat scroll 0 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    color: #555;
    cursor: pointer;
    display: inline-block;
    padding: 7px 12px;
    text-decoration: none;
}
.btn:hover, .text a:hover {
    background: #ccc none repeat scroll 0 0;
    border-color: #bbb;
    color: #333;
    text-decoration: none !important;
}
.btn-large {
    font-size: 22px;
    padding: 7px 20px;
}
.btn-max {
    padding: 7px 0;
    text-align: center;
    width: 100%;
}
.btn-success {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #99ce70 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #64973c;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 3px;
    color: #fff !important;
    text-shadow: 0 1px 1px #678c4c;
}
.btn-success:hover {
    background: #86b761 none repeat scroll 0 0;
    border-color: #698f4d;
    color: #fff;
}
.btn-primary, .text a {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #7ca2bd 0%, #45677f 100%) repeat scroll 0 0;
    border: 1px solid #45677f;
    color: #fff !important;
    text-shadow: 0 1px 1px #294254;
}
.btn-primary:hover, .text a:hover {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #45677f 0%, #7ca2bd 100%) repeat scroll 0 0;
    border: 1px solid #45677f;
    color: #fff;
}
.btn-secondary {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #555555 none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #333;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 3px;
    color: #fff !important;
    text-shadow: 0 1px 1px #000;
}
.btn-secondary:hover {
    background: #333 none repeat scroll 0 0;
    border-color: #000;
    color: #fff;
}
.btn-danger {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: #ee5f5b none repeat scroll 0 0;
    border-color: -moz-use-text-color -moz-use-text-color #bd362f;
    border-image: none;
    border-style: none none solid;
    border-width: 0 0 3px;
    color: #fff !important;
    text-shadow: 0 1px 1px #551310;
}
.btn-danger:hover {
    background: #bd362f none repeat scroll 0 0;
    border-color: #8b2923;
    color: #fff;
}
input[type="text"], input[type="password"], select, textarea {
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 1px 1px 5px #ddd inset;
    color: #555;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    margin: 0 0 1em;
    padding: 4px 6px;
    transition: all 0.2s ease-out 0s;
    width: 220px;
}
textarea {
    height: 100px;
    width: 95%;
}
select {
    box-shadow: none;
    height: 30px;
    line-height: 30px;
    padding: 0;
}
input[type="text"]:focus, input[type="password"]:focus, select:focus, textarea:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
input[type="submit"], button {
    font-size: 14px;
}
footer {
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, #7ca2bd 0%, #45677f 100%) repeat scroll 0 0;
    border-top: 1px solid #305267;
    color: #fff;
    font-size: 12px;
}
footer > .row {
    padding: 2em 0;
}
footer a {
    color: #fff;
}
footer a:hover {
    text-decoration: underline;
}
footer .eightcol ul {
    line-height: 12px;
    list-style: outside none none;
    margin: 0;
}
footer .eightcol ul li {
    border-left: 1px solid #fff;
    float: left;
    margin: 0 0 5px 5px;
    padding: 0 0 0 5px;
}
footer .eightcol ul li:first-child {
    border: 0 none;
    margin: 0;
    padding: 0;
}
footer .eightcol p {
    clear: left;
}
footer .eightcol .group {
    padding-top: 1em;
}
footer .bl {
    border-left: 1px solid #fff;
    box-sizing: border-box;
    height: 95px;
    overflow: hidden;
    padding-left: 2em;
}
footer .fourcol h5 {
    background: rgba(0, 0, 0, 0) url("/images/181/twitter-icon-footer.png") no-repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
    margin: 0;
    padding-left: 42px;
    text-transform: uppercase;
}
footer .fourcol ul {
    font-size: 14px;
    list-style: outside none none;
    margin: 1.2em 0;
}
.tweet_time {
    display: block;
    opacity: 0.5;
}
footer .fourcol.tweets {
    box-sizing: border-box;
    padding-left: 40px;
}
footer a.cmsi {
    background: rgba(0, 0, 0, 0) url("/images/181/cmsi.png") no-repeat scroll 0 0;
    display: block;
    height: 69px;
    text-indent: -9999px;
    transition: none 0s ease 0s ;
    width: 181px;
}
footer a.cmsi:hover {
    background: rgba(0, 0, 0, 0) url("/images/181/cmsi.png") no-repeat scroll -181px 0;
}
@media handheld, only screen and (max-width: 1140px) {
.feature div.text {
    right: 40px;
    width: 44%;
}
.flexslider .flex-next {
    right: 0;
}
.flexslider .flex-prev {
    left: 0;
}
}
@media handheld, only screen and (max-width: 1024px) {
.feature div.text {
    width: 70%;
}
.tagline {
    display: none;
}
}
@media handheld, only screen and (max-width: 800px) {
.flexslider .slides li img {
    display: none;
}
.flexslider .slides li {
}
.feature div.text {
    border: 0 none;
    box-shadow: none;
    font-weight: normal;
    left: 10%;
    position: relative;
    top: 0;
    width: 80%;
}
.feature div.text a {
    font-size: 11px;
}
}
@media handheld, only screen and (max-width: 767px) {
header {
    height: 10px;
    text-align: center;
}
header .last {
    display: none;
}
header .tagline {
    display: none;
}
.mnav {
    margin-left: 5%;
    position: absolute;
    top: 140px;
    width: 90%;
}
.content .primary {
    padding-bottom: 20px;
}
.secondary {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    padding: 0;
}
.secondary div.sidenav ul {
    margin-left: 0;
}
footer .eightcol {
    display: none;
}
.cmsi {
    margin: 0 auto;
}
footer {
    text-align: center;
}
}
@media not all {
}
